.ios, .md {
 
    page-todo {
   
      .scroll-content {
        background-color: #ecf0f1;
        display: flex;
        justify-content: center;
      }
   
      ion-list {
        width: 97%;
    }
   
      ion-item-sliding {
        margin-top: 10px;
        border-radius: 4px;
      }
   
      ion-item {
        border: none;
        font-weight: bold;
      }
   
    }
   
  }